@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply flex gap-2 items-center justify-center py-2 px-4 font-semibold shadow-md rounded-lg;
  }
  .input {
    @apply mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none
    focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1
  }
  .btn.btn-light {
    @apply text-gray-500 bg-white hover:bg-slate-200;
  }
  .btn.btn-danger {
    @apply text-white bg-red-600 hover:bg-red-700 shadow-red-400/40;
  }
  .btn.btn-primary {
    @apply text-white bg-teal-600 hover:bg-teal-700 shadow-purple-400/40;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
